{{>header}}
    
    <div class="container-fluid p-0 bg-dark min-vh-100 d-flex flex-column justify-content-center align-items-center text-light" style="background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('images/back.jpg') no-repeat center; background-size: cover;">
        <div class="w-100 mb-auto">
        {{>navbar}}
        </div>
        <div class="mb-auto text-center">
            <h1 class="display-1 fw-bolder p-2 text-center">Karachi, PK 26<sup>0</sup>C ⛅</h1>
            <a href="/weather" class="btn btn-outline-light px-5 p-2">Checkout More</a>
        </div>
    </div>

{{>footer}}